header{
    margin-top: 25px;
    padding: 200px;
    
    border: 10px solid black;

    background-image: url(images/newYorkCity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1, 
header p {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    text-shadow: -10px -10px 10px black;
}

body {
    background-color: black;
}


p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

header p:hover{
    cursor: pointer;
}

.inButton {
    font-size: 16px;
	background-color: blue;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
    display: inline-block;
}

.inButton:hover {
    background-color: white;
    color: blue;
    border: 2px solid blue;
}


/*----Modal----*/

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

input {
    width: 50%;
    display: block;
    margin: 15px auto;
    font-size: 16px;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}